/* -------- Contact -------- */
#contact .col-2 img {
	width: 100%;
	padding: 10px 0px;
 }
 #contact .col-2 h2 {
	font-size: 37px;
	line-height: 55px;
	margin: 10px 0;
 }
 #contact .col-2 p {
	color: #555;
	font-size: 15px;
 }
 