.header {
  background-image: radial-gradient(#fff, #ffd6d6);
}
.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: block;
  cursor: pointer;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  list-style-type: none;
  position: absolute;
  display: inline-block;
  background: #333;
  top: 70px;
  right: 60px;
  width: 30%;
  overflow: hidden;
  transition: max-height 0.5s;
}
nav ul li {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 50px;
}
